<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="MyConnString" providerName="System.Data.SqlClient"
    connectionString="Data Source=.\sqlexpress;Initial Catalog=CODEMIG_TESTE_V3;Persist Security Info=True;User ID=sa;Password=arya@123"/>
    <add name="MyConnString2" providerName="System.Data.SqlClient"
    connectionString="Data Source=10.101.0.41\sqlexpress;Initial Catalog=CODEMIG_TESTE_V3;Persist Security Info=True;User ID=pedro.rezende;Password=pedro@123"/>
    <add name="MyConnString3" providerName="System.Data.SqlClient"
      connectionString="Data Source=10.85.63.21\sqlexpress;Initial Catalog=CODEMIG_TESTE_V3;Persist Security Info=True;User ID=sde;Password=codemig@2016"/>

  </connectionStrings>
</configuration>